In [1]:
#importing necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#read the file
df = pd.read_csv('dilans_data.csv', sep=';')
df.columns = ["date", "event_type1", "event_type2", "event_type3", "event_type4", "continent"]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 597901 entries, 0 to 597900
Data columns (total 6 columns):
date           597901 non-null object
event_type1    597901 non-null object
event_type2    597901 non-null object
event_type3    590283 non-null float64
event_type4    581876 non-null object
continent      210022 non-null object
dtypes: float64(1), object(5)
memory usage: 27.4+ MB

# __subscriber_df__

In [4]:
#subscriber dataframe
df_subscriber = df.loc[df['event_type1'].isin(['subscribe'])]

In [5]:
df_subscriber.shape

(7618, 6)

In [6]:
df_subscriber.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7618 entries, 9 to 597716
Data columns (total 6 columns):
date           7618 non-null object
event_type1    7618 non-null object
event_type2    7618 non-null object
event_type3    0 non-null float64
event_type4    0 non-null object
continent      0 non-null object
dtypes: float64(1), object(5)
memory usage: 416.6+ KB

In [7]:
df_subscriber = df_subscriber.drop('event_type3', 1)

In [8]:
df_subscriber = df_subscriber.drop('event_type4', 1)

In [9]:
df_subscriber = df_subscriber.drop('continent', 1)

In [11]:
df_subscriber = df_subscriber.astype({"event_type1":'category', "event_type2":'int'})

In [12]:
df_subscriber.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7618 entries, 9 to 597716
Data columns (total 3 columns):
date           7618 non-null object
event_type1    7618 non-null category
event_type2    7618 non-null int64
dtypes: category(1), int64(1), object(1)
memory usage: 186.1+ KB

In [13]:
df_subscriber.columns = ["my_date", "event_type1", "user_id"]

In [14]:
df_subscriber.to_csv("df_subscriber.csv", index=False)

# Paying_User df

In [15]:
#paying_user dataframe
df_paying_user = df.loc[df['event_type1'].isin(['buy'])]

In [16]:
df_paying_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8407 entries, 319 to 597749
Data columns (total 6 columns):
date           8407 non-null object
event_type1    8407 non-null object
event_type2    8407 non-null object
event_type3    8407 non-null float64
event_type4    0 non-null object
continent      0 non-null object
dtypes: float64(1), object(5)
memory usage: 459.8+ KB

In [17]:
df_paying_user = df_paying_user.astype({"event_type1":'category',"event_type2":'int', "event_type3":'int'})

In [18]:
df_paying_user = df_paying_user.drop('event_type4', 1)

In [19]:
df_paying_user = df_paying_user.drop('continent', 1)

In [20]:
df_paying_user.columns = ["my_date", "event_type1", "user_id", "price"]

In [21]:
df_paying_user.to_csv("df_paying_user.csv", index=False)

In [22]:
df_paying_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8407 entries, 319 to 597749
Data columns (total 4 columns):
my_date        8407 non-null object
event_type1    8407 non-null category
user_id        8407 non-null int64
price          8407 non-null int64
dtypes: category(1), int64(2), object(1)
memory usage: 271.0+ KB

In [23]:
df.shape

(597901, 6)

# First reader df

In [25]:
df_first_reader = df.loc[df['event_type4'].isin(['SEO', 'AdWords', 'Reddit'])]
df_first_reader.shape
df_first_reader = df_first_reader.astype({"event_type1":'category',"event_type2":'category', "event_type3":'int', "event_type4":'category', "continent":'category'})

In [26]:
df_first_reader.event_type1 = df_first_reader.event_type1.replace('read', 'first_read')

In [27]:
df_first_reader.columns = ["my_date", "event_type1", "country", "user_id", "source", "topic"]

In [28]:
df_first_reader.to_csv("df_first_reader.csv", index=False)

In [29]:
 df_first_reader.head()

,my_date,event_type1,country,user_id,source,topic
0,2018-01-01 00:03:20,first_read,country_7,2458151262,SEO,South America
1,2018-01-01 00:04:01,first_read,country_7,2458151263,AdWords,Africa
2,2018-01-01 00:04:02,first_read,country_7,2458151264,AdWords,Europe
3,2018-01-01 00:05:03,first_read,country_8,2458151265,Reddit,North America
4,2018-01-01 00:05:42,first_read,country_6,2458151266,Reddit,North America

# Reg reager df

In [30]:
df_reg_reader = df.loc[df['event_type4'].isin(['North America', 'Asia', 'Africa','South America', 'Australia', 'Europe'])]
df_reg_reader.shape

(371854, 6)

In [31]:
df_reg_reader.head()

,date,event_type1,event_type2,event_type3,event_type4,continent
169,2018-01-01 02:20:18,read,country_5,2.458151e+09,North America,NaN
210,2018-01-01 02:53:39,read,country_4,2.458151e+09,Asia,NaN
277,2018-01-01 03:34:22,read,country_4,2.458152e+09,Africa,NaN
280,2018-01-01 03:36:18,read,country_5,2.458151e+09,Asia,NaN
285,2018-01-01 03:40:42,read,country_5,2.458151e+09,South America,NaN

In [32]:
df_reg_reader = df_reg_reader.drop('continent', 1)

In [33]:
df_reg_reader = df_reg_reader.astype({"event_type1":'category',"event_type2":'category', "event_type3":'int', "event_type4":'category'})

In [34]:
df_reg_reader.columns = ["my_date", "event_type1", "country", "user_id", "topic"]

In [35]:
df_reg_reader.to_csv("df_reg_reader.csv", index=False)